In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [6]:
qu = 'select fieldRA, fieldDec,night from observations;'
con = sqlite3.connect('roll_uniform_4_mjdp0_v3.4_10yrs.db')
df_4 = pd.read_sql(qu, con)
con.close()

con = sqlite3.connect('roll_uniform_early_half_mjdp0_v3.4_10yrs.db')
df_3 = pd.read_sql(qu, con)
con.close()

In [7]:
df_4

            fieldRA   fieldDec  night
0        200.782211 -50.116498      0
1        205.280457 -48.985871      0
2        208.768832 -50.721324      0
3        212.491654 -52.367602      0
4        209.531249 -47.656241      0
...             ...        ...    ...
2146247    6.454043 -25.618802   3652
2146248  358.689779 -33.279564   3652
2146249    2.797825 -41.132379   3652
2146250    7.481395 -52.234287   3652
2146251   11.643270 -53.637536   3652

[2146252 rows x 3 columns]

In [10]:
ack = (df_4['fieldRA'] - df_3['fieldRA']).values

In [16]:
df_4['night'].values[np.where(np.abs(ack) > 1e-12)[0]]

array([1100, 1100, 1100, ..., 3652, 3652, 3652])

In [17]:
1100/365.25

3.0116358658453115